# --- Python dominant machen ---
*.py linguist-language=Python
*.py linguist-weight=1.0
*.py linguist-detectable=true

# --- JavaScript moderat gewichten ---
*.js linguist-language=JavaScript
*.js linguist-weight=0.6

# --- HTML nur schwach gewichten  ---
*.html linguist-weight=0.15
*.htm linguist-weight=0.15

# --- R sehr schwach, aber sichtbar ---
*.R linguist-language=R
*.R linguist-weight=0.05
*.Rmd linguist-weight=0.05

# --- Shell minimal ---
*.sh linguist-weight=0.1

